<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae natus dolore harum quam quasi modi earum architecto amet beatae. Doloribus aut laudantium nisi unde beatae. Magnam velit accusantium dolores consequuntur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nobis deserunt adipisci repudiandae sequi similique esse laudantium quisquam numquam. Nesciunt in dicta explicabo odio nihil recusandae ullam cumque suscipit eaque?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero sint impedit consectetur modi doloremque quas mollitia rerum, temporibus rem cumque. Magnam, optio. Perferendis porro tenetur animi reprehenderit ut, pariatur praesentium.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, impedit. Exercitationem harum accusantium placeat incidunt. Maiores itaque, voluptate rerum similique, molestias praesentium minus quia dolor perferendis minima est corporis ratione.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta incidunt quisquam ullam, ad ea corrupti praesentium repellat debitis tempore rerum in deleniti suscipit delectus necessitatibus eius. Sunt optio sit doloremque.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione distinctio, nihil fuga optio, animi minus sit impedit aliquid ut accusantium recusandae repellat blanditiis incidunt, magni iure cupiditate. Id, in eius.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, tempora dolore sapiente asperiores enim reprehenderit facere magnam aperiam earum non nobis possimus, similique at nulla corporis ab libero adipisci maiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta nemo recusandae fuga, odit ullam possimus quidem corrupti omnis eveniet tenetur voluptates voluptatem, perferendis quia distinctio tempore explicabo aspernatur architecto.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium consequatur perspiciatis odit? Sit consequuntur saepe ratione praesentium architecto odit magnam repellat culpa commodi blanditiis, error vel delectus necessitatibus suscipit autem?
        <br/>

    </p>
</div>
